.new-rocker-regular {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
}
* {
  
  font-family: "New Rocker", system-ui;
  background-color: #000000;
left:50%;
  color: rgba(228, 228, 6, 0.964);
  text-decoration: none;
}
nav,footer{
    display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: yellow;

}
nav > a {
  
  border: 1px solid rgb(25, 0, 0);
  border-radius: 10px;
  display: block-inline;
  text-align: center;

  color: rgb(255, 230, 0);

  padding: 10px;
}
section{
  margin: 20px;
  padding: 20px;
  border: 2px solid #FFFF00;
  border-radius: 10px;
}
.miembro{
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: center;

}
nav > a:hover {
  background-color: rgba(246, 246, 246, 0.941);
}

.miembro {
  text-align: center;
  max-width: 200px;
}

.miembro img {
  border-radius: 10px;
}
table{
  width: 100%;
  border-collapse: separate;
}
th{
background-color:rgb(1, 0, 0);
color: yellow;
box-shadow: 50px 50px 50px black;
}