.new-rocker-regular {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
}

@font-face {
  font-family: "kurt";
  src: url("../fuentes/kurt/kurt-Bold.ttf");
}
#princ {
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "New Rocker", system-ui;
  background-color: #0f0f0f;
  color: #eaeaea;
  text-decoration: none;
  color: yellow;
}

nav,header {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px 0;
background: linear-gradient(to top, #0f1a17, #000000);
  color: #B5B5B5;
  padding: 20px;
  text-align: center;
  
}


nav > a {
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  padding: 10px 16px;
  background-color: #1c1c1c;
  color: #b0f503;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

nav > a:hover {
  background-color: #ffd100;
  color: #0f0f0f;
}

table {
  float: right;
  border-collapse: collapse;
  margin: 40px auto;
  width: 70%;
  background-color: #1a1a1a;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  font-family: "kurt";
}

th {
  background-color: #f5e000;
  color: #000;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
td {
  background-color: #f5e000;
  color: #000;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
tbody tr:nth-child(even) {
  background-color: #2b2b2b;
}

tbody tr:nth-child(odd) {
  background-color: #1a1a1a;
}

tbody tr:nth-child(4n + 1) td:first-child,
tbody tr:nth-child(4n + 4) td:first-child {
  background-color: #3a3a3a;
  color: #f5e000;
  font-weight: bold;
}

tbody tr:nth-child(4n + 2) td:first-child,
tbody tr:nth-child(4n + 3) td:first-child {
  background-color: #1f1f1f;
  color: #eaeaea;
}

td:hover {
  background-color: #3a3a3a;
}

form {
  display: flex;
  flex-direction: column;
text-align: center;
  max-width: 400px;
  margin: auto;
  font-family: "kurt";
}
fieldset {
  border: 1px solid #3a3a3a;
  padding: 20px;
  background-color: #1c1c1c;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

}

input,
textarea,
button {
  background-color: #2a2a2a;
  color: #eaeaea;
  border: 1px solid #3a3a3a;
  padding: 10px;
}

button {
  background-color: #ffd100;
  color: #0f0f0f;
  cursor: pointer;
}

button:hover {
  background-color: #e6bc00;
}
input[type="text"],
input[type="email"]{
  color: rgba(255, 255, 255, 0.9);
}
/* FOCUS */
input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 2px solid #ffd100;
  background-color: #1c1c1c;
  box-shadow: 6px rgba(255, 209, 0, 0.4);
}


input[type="text"]:valid,
input[type="email"]:valid,
input[type="password"]:valid,
input[type="tel"]:valid,
select:valid {
  border: 2px solid #6b7b3d;
  background-color: #1c1c1c;
  background-image: url(../imagenesyvideos/valido.png);
  background-position: right;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 10px;
}

input:invalid,
textarea:invalid,
select:invalid {
  border: 2px solid #7a1f1f;
  background-color: #1c1c1c;
  box-shadow: 6px rgba(122, 31, 31, 0.5);
  background-image: url(../imagenesyvideos/forma-boton-incorrecto-3d_169241-5652.avif);
  background-position: right;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 10px;
}


.success {
  color: #6b7b3d;
}

.error {
  color: #7a1f1f;
}

.focused {
  color: #ffd100;
}
footer{
  clear:both;
background: radial-gradient(circle at center, #5a4a3b, #0f0f0f);




}