/* =========================
   FUENTES
========================= */

@font-face {
  font-family: "kurt";
  src: url("../fuentes/kurt/kurt-Bold.ttf");
  font-family: New Rocker;
  src: url(../fuentes/New_Rocker/NewRocker-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "New Rocker", system-ui;
  background-color: #0f0f0f;
  color: yellow;
  text-decoration: none;
}
h1 {
  display: block;
  color: white;
  text-decoration: dotted underline;
  font-size: 6em;
  text-transform: uppercase;
  text-align: center;
}
#inicio {
  float: right;
  color: rgb(252, 11, 11);
  text-decoration: dotted underline;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}
#tituloini {
  color: rgb(202, 253, 0);
  font-size: 30px;
  text-transform: uppercase;
  float: left;
}
#princ {
  color: white;
}

nav,
a header {
  font-family: "New Rocker", system-ui;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px 0;
  background: linear-gradient(to top, #0f1a17, #000000);
  color: #b5b5b5;
  padding: 20px;
  text-align: center;
}

nav > a {
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  padding: 10px 16px;
  background-color: #1c1c1c;
  color: #b0f503;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

nav > a:hover {
  background-color: #ffd100;
  color: #0f0f0f;
  transform: rotate(10deg);
}

table {
  float: right;
  border-collapse: collapse;
  margin: 40px auto;
  width: 70%;
  background-color: #1a1a1a;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  font-family: "kurt";
}

th,
td {
  background-color: #f5e000;
  color: #000;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

tbody td:nth-child(even) {
  background-color: #ffffff;
}

tbody td:nth-child(odd) {
  background-color: #e9f600;
}

tbody tr:nth-child(4n + 1) td:first-child,
tbody tr:nth-child(4n + 4) td:first-child {
  background-color: #3a3a3a;
  color: #f5e000;
  font-weight: bold;
}

tbody tr:nth-child(4n + 2) td:first-child,
tbody tr:nth-child(4n + 3) td:first-child {
  background-color: #1f1f1f;
  color: #eaeaea;
}

td:hover {
  background-color: #3a3a3a;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 400px;
  margin: auto;
  font-family: "kurt";
}

fieldset {
  border: 1px solid #3a3a3a;
  padding: 20px;
  background-color: #1c1c1c;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

label,
legend {
  margin: 10px 0 5px 0;
  text-align: left;
  font-size: 14px;
  color: white;
}

input,
textarea,
button {
  background-color: #2a2a2a;
  color: #eaeaea;
  border: 1px solid #3a3a3a;
  padding: 10px;
  text-shadow: 10px 10px 10px #000;
}

button {
  background-color: #ffd100;
  color: #0f0f0f;
  cursor: pointer;
}

button:hover {
  background-color: #e6bc00;
}

input[type="text"],
input[type="email"] {
  color: rgba(255, 255, 255, 0.9);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 2px solid #ffd100;
  background-color: #1c1c1c;
  box-shadow: 6px rgba(255, 209, 0, 0.4);
}

input[type="text"]:valid,
input[type="email"]:valid,
input[type="password"]:valid,
input[type="tel"]:valid,
select:valid {
  border: 2px solid #6b7b3d;
  background-color: #1c1c1c;
  background-image: url(../imagenesyvideos/valido.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 10px;
}

input:invalid,
textarea:invalid,
select:invalid {
  border: 2px solid #7a1f1f;
  background-color: #1c1c1c;
  box-shadow: 6px rgba(122, 31, 31, 0.5);
  background-image: url(../imagenesyvideos/forma-boton-incorrecto-3d_169241-5652.avif);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 10px;
}

footer {
  clear: both;
  background: radial-gradient(circle at center, #5a4a3b, #0f0f0f);
}
