<<<<<<< HEAD

=======
/* Fuentes */
>>>>>>> 23096ec6e22a8329ef6b881904361a529ecb07fb
.new-rocker-regular {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
}

@font-face {
  font-family: "kurt";
  src: url("../fuentes/kurt/kurt-Bold.ttf");
}

<<<<<<< HEAD

=======
/* Reset básico */
>>>>>>> 23096ec6e22a8329ef6b881904361a529ecb07fb
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "New Rocker", system-ui;
  background-color: #0f0f0f;
  color: #eaeaea;
  text-decoration: none;
}

<<<<<<< HEAD

=======
/* Navegación y footer */
>>>>>>> 23096ec6e22a8329ef6b881904361a529ecb07fb
nav,
footer {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px 0;
  background-color: #0f0f0f;
}

nav > a {
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  padding: 10px 16px;
  background-color: #1c1c1c;
  color: #ffd100;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

nav > a:hover {
  background-color: #ffd100;
  color: #0f0f0f;
}

<<<<<<< HEAD

=======
/* Secciones */
>>>>>>> 23096ec6e22a8329ef6b881904361a529ecb07fb
section {
  margin: 20px;
  padding: 20px;
  background-color: #1c1c1c;
  border: 2px solid #ffd100;
  border-radius: 10px;
}
<<<<<<< HEAD

/* Listas */
.miembro {
  list-style: none;
}

ul p {
  color: #eaeaea;
}
=======
>>>>>>> 23096ec6e22a8329ef6b881904361a529ecb07fb

/* Listas */
.miembro {
  list-style: none;
}

<<<<<<< HEAD
=======
ul p {
  color: #eaeaea;
}

/* Tablas */
>>>>>>> 23096ec6e22a8329ef6b881904361a529ecb07fb
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1c1c1c;
  font-family: "kurt";
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #3a3a3a;
}

th {
  background-color: #0f0f0f;
  color: #ffd100;
  border-bottom: 2px solid #ffd100;
}

td:nth-child(even) {
  background-color: #2a2a2a;
}

tr:hover {
  background-color: #3a3a3a;
}

<<<<<<< HEAD

=======
/* Formularios */
>>>>>>> 23096ec6e22a8329ef6b881904361a529ecb07fb
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
  font-family: "kurt";
}

input,
textarea,
button {
  background-color: #2a2a2a;
  color: #eaeaea;
  border: 1px solid #3a3a3a;
  padding: 10px;
}

button {
  background-color: #ffd100;
  color: #0f0f0f;
  cursor: pointer;
}

button:hover {
  background-color: #e6bc00;
}
