.new-rocker-regular {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
}

@font-face {
  font-family: "kurt";
  src: url("../fuentes/kurt/kurt-Bold.ttf");
}
#princ{
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "New Rocker", system-ui;
  background-color: #0f0f0f;
  color: #eaeaea;
  text-decoration: none;
  color: yellow;
}

nav,
footer {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px 0;
  background-color: #0f0f0f;
}

nav > a {
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  padding: 10px 16px;
  background-color: #1c1c1c;
  color: #b0f503;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

nav > a:hover {
  background-color: #ffd100;
  color: #0f0f0f;
}



table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1c1c1c;
  font-family: "kurt";
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #3a3a3a;
}

th {
  background-color: #0f0f0f;
  color: #ffd100;
  border-bottom: 2px solid #ffd100;
}

td:nth-child(even) {
  background-color: #2a2a2a;
}

tr:hover {
  background-color: #3a3a3a;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
  font-family: "kurt";
}

input,
textarea,
button {
  background-color: #2a2a2a;
  color: #eaeaea;
  border: 1px solid #3a3a3a;
  padding: 10px;
}

button {
  background-color: #ffd100;
  color: #0f0f0f;
  cursor: pointer;
}

button:hover {
  background-color: #e6bc00;
}

/* FOCUS */
input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 2px solid #ffd100;
  background-color: #1c1c1c;
  box-shadow: 0 0 6px rgba(255, 209, 0, 0.4);
}

/* VALID */
input:valid,
textarea:valid,
select:valid {
  border: 2px solid #6b7b3d;
  background-color: #1c1c1c;

  background-image: url(../imagenesyvideos/valido.png);
  background-position: 10px;
  background-repeat: no-repeat;
background-size: 100px ;
}

/* INVALID */
input:invalid,
textarea:invalid,
select:invalid {
  border: 2px solid #7a1f1f;
  background-color: #1c1c1c;
  box-shadow: 6px rgba(122, 31, 31, 0.5);
}

/* =========================
   MENSAJES DE ESTADO
========================= */
.success {
  color: #6b7b3d;
}

.error {
  color: #7a1f1f;
}

.focused {
  color: #ffd100;
}
