.new-rocker-regular {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: "New Rocker", system-ui;
  background-color: #000000;
  margin: 0 auto;
  color: rgba(228, 228, 6, 0.964);
}
nav > a {
  background-color: yellow;
  border: 1px solid black;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: block;
  text-align: center;
 
  color: black;

  padding: 10px;
}
.lista-miembros {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.miembro {
  text-align: center;
  max-width: 200px;
}

.miembro img {
  border-radius: 10px;
}
